html {
  overflow: hidden;
}

.relaxIcon {
  height: 1rem;
  filter:invert(100%);
}

#sketch-holder {
  height: 100vh;
}

.parameterColumn {
  background-color: hsla(180, 33%, 46%, 0.72);
}

label,
h3 {
  text-shadow: 1px 1px 6px hsla(228, 26%, 59%, 0.67);
}

.btn-light:focus {
  box-shadow: none;
}

#recButton {
  font-size: 2.5rem;
  background-color: rgba(201, 159, 40, 0);
  border: none;
  padding: 0 0;
}

#recButtonIcon {
  color: rgb(2, 97, 197);
}
